.loginPage {
    width: 100vw;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px;

    h1 {
        margin-bottom: 20px;
    }

    form {
        margin-bottom: 20px;
    }

    p {
        font-size: 1rem;
        text-align: center;

        button {
            border: none;
            background-color: transparent;
            font-size: 1rem;
            color: var(--accent);
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
