.pageWrapper {
    display: flex;
    height: 100%;

    .imageWrapper {
        position: relative;
        flex-grow: 1;
        overflow: hidden;

        img {
            object-fit: cover;
        }
    }

    .formWrapper {
        margin: 0 auto;
        width: 600px;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;

        h1 {
            margin-bottom: 20px;
        }
    
        p {
            font-size: 1rem;
        }
    }

    @media only screen and (max-width: 900px) {
        .imageWrapper {
            display: none;
        }

        .formWrapper {
            padding: 30px 15px;
        }
    }
}