.controlCenter {
    display: flex;
    flex-direction: column;
    width: 100%;

    .donation {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .date {
            font-weight: bold;
            font-size: 0.7rem;
            color: var(--accent);
            margin-bottom: -3px;
        }

        h2 {
            font-size: 1.3rem;
            margin-right: 20px;
            text-transform: capitalize;
        }

        p {
            font-size: 0.9rem;
        }

        span {
            display: flex;
            margin-top: 10px;

            a {
                background-color: var(--accent);
                border: 2px solid var(--accent);
                width: fit-content;
                padding: 4px 10px;
                border-radius: 4px;
                color: white;
                font-weight: bold;
                font-size: 0.9rem;
                transition: color 0.2s, background-color 0.2s;
                margin-right: 10px;

                &:hover {
                    background-color: white;
                    color: var(--accent);
                }
            }
        }
    }
}