.dashboardLayout {
    padding-top: 60px;
    height: 100vh;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        padding: 0 20px;
        z-index: 10;
        background-color: white;

        h1 {
            font-size: 1.5rem;

            @media only screen and (max-width: 800px) {
                span {
                    display: none;
                }
            }
        }
    }

    .pageWrapper {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        width: 100vw;
        max-width: 800px;
        margin: 0 auto;
    }
}